<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">
        <!-- <div class="form-group">
              <input type="hidden" class="form-control" name="$id" #$id="ngModel" [(ngModel)]="addressService.selectedAddress.$id">
            </div> -->
        <div class="form-group">
          <label>Street Name</label>
          <input class="form-control" name="streetName" #streetName="ngModel" [(ngModel)]="addressService.selectedAddress.streetName"
            required>
        </div>
        <div class="form-group">
          <label>Ward</label>
          <input class="form-control" name="ward" #ward="ngModel" [(ngModel)]="addressService.selectedAddress.ward">
        </div>
        <div class="form-group">
          <label>District</label>
          <input class="form-control" name="district" #district="ngModel" [(ngModel)]="addressService.selectedAddress.district">
        </div>
        <div class="form-group">
          <label>City</label>
          <input class="form-control" name="city" #city="ngModel" [(ngModel)]="addressService.selectedAddress.city">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input class="form-control" name="country" #country="ngModel" [(ngModel)]="addressService.selectedAddress.country">
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-block" type="submit" [disabled]="!addressForm.valid">
            <i class="fa fa-floppy-o"></i>
            Submit</button>
          <button class="btn btn-default btn-block" type="button" (click)="resetForm(addressForm)">
            <i class="fa fa-repeat"></i>
            Reset</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="text-center">
        <h5>Google Map</h5>
        <div id="map" style="width:100%;height:500px;background:yellow"></div>
      </div>
    </div>
  </div>
</div>